In [2]:
# Import Libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import mean_absolute_error

In [3]:
# Import Dataset
df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [12]:
# One-Hot Encoding
df = pd.get_dummies(df, columns=['time', 'day', 'smoker', 'sex'])
df.head()

,total_bill,tip,size,time_Dinner,time_Lunch,day_Fri,day_Sat,day_Sun,day_Thur,smoker_No,smoker_Yes,sex_Female,sex_Male
0,16.99,1.01,2,True,False,False,False,True,False,True,False,True,False
1,10.34,1.66,3,True,False,False,False,True,False,True,False,False,True
2,21.01,3.50,3,True,False,False,False,True,False,True,False,False,True
3,23.68,3.31,2,True,False,False,False,True,False,True,False,False,True
4,24.59,3.61,4,True,False,False,False,True,False,True,False,True,False

In [15]:
# Explore Data: Heatmap
#df_corr = df.corr(numeric_only=True)
#sns.heatmap(df_corr,annot=True,cmap='coolwarm')
#df_corr = df.corr()
#df_corr

,total_bill,tip,size,time_Dinner,time_Lunch,day_Fri,day_Sat,day_Sun,day_Thur,smoker_No,smoker_Yes,sex_Female,sex_Male
total_bill,1.000000,0.675734,0.598315,0.183118,-0.183118,-0.086168,0.054919,0.122953,-0.138174,-0.085721,0.085721,-0.144877,0.144877
tip,0.675734,1.000000,0.489299,0.121629,-0.121629,-0.055463,-0.002790,0.125114,-0.095879,-0.005929,0.005929,-0.088862,0.088862
size,0.598315,0.489299,1.000000,0.103411,-0.103411,-0.142184,-0.041121,0.193054,-0.072598,0.133178,-0.133178,-0.086195,0.086195
time_Dinner,0.183118,0.121629,0.103411,1.000000,-1.000000,-0.058159,0.462709,0.418071,-0.917996,-0.054921,0.054921,-0.205231,0.205231
time_Lunch,-0.183118,-0.121629,-0.103411,-1.000000,1.000000,0.058159,-0.462709,-0.418071,0.917996,0.054921,-0.054921,0.205231,-0.205231
day_Fri,-0.086168,-0.055463,-0.142184,-0.058159,0.058159,1.000000,-0.216319,-0.195451,-0.169608,-0.244316,0.244316,0.071060,-0.071060
day_Sat,0.054919,-0.002790,-0.041121,0.462709,-0.462709,-0.216319,1.000000,-0.500682,-0.434480,-0.155744,0.155744,-0.053957,0.053957
day_Sun,0.122953,0.125114,0.193054,0.418071,-0.418071,-0.195451,-0.500682,1.000000,-0.392566,0.181624,-0.181624,-0.168106,0.168106
day_Thur,-0.138174,-0.095879,-0.072598,-0.917996,0.917996,-0.169608,-0.434480,-0.392566,1.000000,0.128534,-0.128534,0.194445,-0.194445
smoker_No,-0.085721,-0.005929,0.133178,-0.054921,0.054921,-0.244316,-0.155744,0.181624,0.128534,1.000000,-1.000000,0.002816,-0.002816
smoker_Yes,0.085721,0.005929,-0.133178,0.054921,-0.054921,0.244316,0.155744,-0.181624,-0.128534,-1.000000,1.000000,-0.002816,0.002816
sex_Female,-0.144877,-0.088862,-0.086195,-0.205231,0.205231,0.071060,-0.053957,-0.168106,0.194445,0.002816,-0.002816,1.000000,-1.000000
sex_Male,0.144877,0.088862,0.086195,0.205231,-0.205231,-0.071060,0.053957,0.168106,-0.194445,-0.002816,0.002816,-1.000000,1.000000

In [21]:
# Assign X and Y
X = df.drop(columns=['tip', 'smoker_No', 'smoker_Yes'], axis=1)
Y = df['tip']

In [23]:
# Test/Train Split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, shuffle=True)

In [24]:
# Assign Algorithm
model = LinearRegression()

In [1]:
# Fit Algorithm to X and Y
model.fit(X_train, Y_train)

NameError: name 'model' is not defined

In [29]:
# Find Y-Intercept
model.intercept_

0.6781300716233112

In [30]:
# Find X coefficients
model.coef_

array([ 0.11025874,  0.11273303, -0.06574661,  0.06574661, -0.05798081,
        0.05982156,  0.1308063 , -0.13264705, -0.01296011,  0.01296011])

In [33]:
mae_train = mean_absolute_error(Y_train, model.predict(X_train))
print("Training Set Mean Absolute Error: %.2f" % mae_train)

mae_test = mean_absolute_error(Y_test, model.predict(X_test))
print("Tresting Set Mean Absolute Error: %.2f" % mae_test)

Training Set Mean Absolute Error: 0.76
Tresting Set Mean Absolute Error: 0.73

In [34]:
# Data point to predict
jamie = [
	40, #total_bill
	2, #size
	1, #time_dinner
	0, #time_lunch
	1, #day_fri
	0, #day_sat
	1, #day_sun
	0, #day_thur
	0, #sex_female
	1, #sex_male
]

# Make prediction
jamie = model.predict([jamie])
jamie

array([5.33398477])